<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <div class="container ng-star-inserted">
        <div class="row">
            <div class="col">
                <div class="desktop-view">
                    <router-outlet></router-outlet>
                    <div class="overview-wrapper">
                        <div class="container overview mb-2" style="padding-top: 8.62vh;">
                            <div class="row">
                                <div class="col align-items-center" style="display: flex; flex-direction: column;">
                                    <div><img class="img-responsive center-block" src="https://flogginimages.s3.ap-south-1.amazonaws.com/outlets/outlets_218_1605695927.7922137.png" alt="Blue Waters"></div>
                                    <div class="mt-4">
                                        <p class="merchant-heading"> Welcome to<br><span class="heading">Blue Waters!</span></p>
                                    </div>
                                    <div>
                                        <p class="info"> Select your order type below to view the menu and place your order online.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container-overview">
                            <div class="row ng-star-inserted">
                                <div class="col px-4 master-wrapper" style="display: flex;justify-content: center;">
                                    <div class="button" href="javascript:void(0)" type="button" (click)="onclick()">
                                        <p class="merchant-button">VIEW DINE-IN MENU</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row ng-star-inserted">
                                <div class="col px-4 master-wrapper" style="display: flex; justify-content: center;">
                                </div>
                            </div>
                            <div class="row ng-star-inserted">
                                <div class="col px-4 master-wrapper" style="display: flex; justify-content: center;">

                                </div>
                            </div>
                            <div class="row ng-star-inserted">
                                <div class="col px-4 master-wrapper" style="display: flex; justify-content: center;">
                                </div>
                            </div>

                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

</body>

</html>